@import url('reset.css');

:root {
    --pure-white: #FFFFFF;
    --cream: #F2EAE2;
    --aurometal: #6C7289;
    --deep-aquamarine-1: #3D8168;
    --deep-aquamarine-2: #1A4032;
    --gunmetal: #1C232B;
}

.display-text {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0px;
    color: var(--gunmetal);
}

.body-text {
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.438rem;
    letter-spacing: 0px;
    color: var(--aurometal);
}

.overline-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: auto;
    letter-spacing: 0.313rem;
    color: var(--aurometal);
}

s {
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 0.813rem;
    line-height: 1.438rem;
    color: var(--aurometal);
    letter-spacing: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cream);
    gap: 0.625rem;
}

.card {
    border-radius: 0.75rem;
    width: 22rem;
    overflow: hidden;
    background-color: var(--pure-white);
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.card-body-price {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

button {
    padding-block: 0.938rem;
    background-color: var(--deep-aquamarine-1);
    border: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}

button:hover {
    cursor: pointer;
    background-color: var(--deep-aquamarine-2);
}

.button-text {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: auto;
    color: var(--pure-white);
    letter-spacing: 0px;
}

@media screen and (min-width:600px) {
    .card {
        display: flex;
        flex-direction: row;
        width: 37.5rem;
    }


    .card-body {
        max-width: 50%;
        justify-content: space-between;
    }

}